@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"; 
@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap%27'); 

 h1 { 
     font-family: 'Rubik Wet Paint', serif; 
 } 

Padster
 footer {
    text-align: center;
    padding: 10px;
    color: lightgreen;
 }

.navbar-item {
    padding: 5px;
    height:55px;
    position: relative;

} 

.mymap {
    position: sticky;
}

.searchBoxContainer {
    position: relative;
}

 
 main

h1.title {
    color:#028A0F;
    font-size: 70px;
    position:relative; left:500px;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: lightgreen;



}

body {

    background-color: rgb(0, 0, 0);
}

.navbar {
    background-color: #028A0F;
}

.input {
    line-height: 4.6;
}

.navbar-menu{
    flex-wrap: wrap;
}
.navbar-item:nth-child(1) {
    color: #028A0F;
}

    element.style{
align-items: start;
    }



 .control {
    color: lightgreen;
 }

 a:link {
    color: #028A0F;
 }

 a:visited {
    color: #028A0F;
 }

 .button {
    color:white;
 }

 a.control {
    color: lightgreen;
 }
