@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"; 
@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap'); 

 h1 { 
     font-family: 'Rubik Wet Paint', serif; 
 } 

.navbar-item {
    padding: 5px;
    height:55px;
    position: relative;

} 

.mymap {
    position: sticky;
}

.searchBoxContainer {
    position: relative;
}

 



